/* * {
    border: 1px solid black;
} */
body{
    background: #F9F7F3;
}

main{
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    text-align: center;
    min-height: 50vh;
}

input{
    padding: 1rem;
    border: 1px solid red;
}

label{
    border: 1px solid red;
}

main h1{
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    border: 1px solid red;
}

.login-group{
    padding: 2rem;
    font-size: 2rem;
    align-items: left;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.loginForm{
  background: #eeeee4;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  border: 5px solid #cccccc;
  border-radius: 12px; /* rounded corners */
  padding: 2rem;
  min-height: 50vh;
  min-width: 50vh;
  display: flex;
  flex-direction: column;
}

header{
    background: transparent;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 1px solid red;
}
.leftlogo{
    text-align: left;
    flex: 1;
}
.title{
    flex: 1;
    text-align: center;
}
.rightlogo{
    flex: 1;
    align-items: right;
    text-align: right;
}
header img{
    width: 12rem;
    height: 12rem
}
header h1{
    font-family: 'Pacifico', cursive;
    font-size: 4rem;
}